* {
  box-sizing: border-box;
  color: rgb(255, 236, 236);
  font-family: Snell Roundhand, cursive;
}

.container {
  margin: 0 auto;
  max-width: 720px;
}

p {
  text-align: center;
}

header {
  padding: 10px;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_text {
  display: flex;
}

a {
  text-decoration: none;
}

#button {
  display: none;
}

/* оcнова */
.base {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.base_block,
.header_block,
.footer_block {
  border: 1px solid rgb(29, 29, 29);
  border-radius: 5px;
  margin: 3px;
  background-color: #164f24c2;
}

.base_block_one {
  width: 70%;
}

.base_block_two {
  width: 25%;
}

.base_block_three,
.base_block_four,
.base_block_five {
  width: 30%;
}

@media screen and (max-width: 540px) {
  .base_block_one {
    width: 100%;
  }
  .base_block_two,
  .base_block_three,
  .base_block_four,
  .base_block_five {
    width: 48%;
  }
}

@media screen and (max-width: 320px) {
  .base_block_one,
  .base_block_two,
  .base_block_three {
    width: 100%;
  }

  .base_block_four,
  .base_block_five {
    width: 47%;
  }

  .header_text_sotovi {
    display: none;
  }

  .activated {
    display: block;
  }

  #button {
    display: block;
  }
}
